{
  "semi": true,
  "singleQuote": true,
  "tabWidth": 2,
  "trailingComma": "es5",
  "printWidth": 80,
  "endOfLine": "lf",
  "bracketSameLine": true,
  "jsxSingleQuote": true,
  "insertPragma": true,
  "requirePragma": false
}
